body {
  font-family: sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header {
  background-image: url("../Images/MainBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
